.index-button {
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 10%;
    background: #3c588b;
    color: #ffffff;
    transition: background 400ms ease;
}

.index-button:hover {
    background: #666666;
}

.index-div {
    position: static;
    left: 0px;
    top: 192px;
    bottom: 0px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.margin {
    margin: 10px;
}

.div-40 {
    display: inline-block;
    float: none;
}
.index-icon {
    width: 3.5rem;
    display: inline-block;
    transition: width 300ms ease;
}
.index-icon:hover {
    width: 4rem;
}
.whitespace {
    display: block;
    height: 40px;
}

.footer_link {
    font-size: 2.25rem;
    margin: 5px;
    color: white;
    transition: color 400ms ease;
}
.footer_link:hover {
    color: grey;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 15px;
    padding: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-img {
    border-radius: 5px 5px 0 0;
  }