.index-button {
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 10%;
    background-color: #3c588b;
    color: #ffffff;
}
.index-button:hover {
    background-color: #666666;
}

.index-div {
    position: static;
    left: 0px;
    top: 192px;
    bottom: 0px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.margin {
    margin: 10px;
}

.div-40 {
    display: inline-block;
    height: 40px;
    float: none;
}
.whitespace {
    display: block;
    height: 40px;
}

.footer_link {
    display: inline-block;
    font-size: 3rem;
    justify-content: center;
}

.social_style {
    /* color: #c7c7c7; */
    margin-right: 5px;
}