.index-button {
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 10%;
    background: #3c588b;
    color: #ffffff;
    transition: all 0.5s ease;
   
}

.index-button:hover {
    background: #666666;
}

.index-div {
    position: static;
    left: 0px;
    top: 192px;
    bottom: 0px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.margin {
    margin: 10px;
}

.div-40 {
    display: inline-block;
    height: 40px;
    float: none;
}
.whitespace {
    display: block;
    height: 40px;
}

.footer_link {
    font-size: 2rem;
    margin: 10px;
}

