.bg-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.bw-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.justify-right {
  justify-content: flex-end;
}
/* Column layout templates */
.bw-col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* Column Widths */
.bw-col-1 {
  flex: 0 0 calc((100% / 12) * 1);
  max-width: calc((100% / 12) * 1);
}
.bw-col-2 {
  flex: 0 0 calc((100% / 12) * 2);
  max-width: calc((100% / 12) * 2);
}
.bw-col-3 {
  flex: 0 0 calc((100% / 12) * 3);
  max-width: calc((100% / 12) * 3);
}
.bw-col-4 {
  flex: 0 0 calc((100% / 12) * 4);
  max-width: calc((100% / 12) * 4);
}
.bw-col-5 {
  flex: 0 0 calc((100% / 12) * 5);
  max-width: calc((100% / 12) * 5);
}
.bw-col-6 {
  flex: 0 0 calc((100% / 12) * 6);
  max-width: calc((100% / 12) * 6);
}
.bw-col-7 {
  flex: 0 0 calc((100% / 12) * 7);
  max-width: calc((100% / 12) * 7);
}
.bw-col-8 {
  flex: 0 0 calc((100% / 12) * 8);
  max-width: calc((100% / 12) * 8);
}
.bw-col-9 {
  flex: 0 0 calc((100% / 12) * 9);
  max-width: calc((100% / 12) * 9);
}
.bw-col-10 {
  flex: 0 0 calc((100% / 12) * 10);
  max-width: calc((100% / 12) * 10);
}
.bw-col-11 {
  flex: 0 0 calc((100% / 12) * 11);
  max-width: calc((100% / 12) * 11);
}
.bw-col-12 {
  flex: 0 0 calc((100% / 12) * 12);
  max-width: calc((100% / 12) * 12);
}

.flex-col {
  display: flex;
  /* flex-basis: 33%; */
  flex-direction: column;
}
.bg-col {
  flex: 0 0 50%;
  max-width: 50%;
}
.third-col {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.twothird-col {
  flex: 0 0 66.6666666%;
  max-width: 66.66666666%;
}
.bg-col,
.third-col,
.twothird-col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 767px) {
  .bg-row {
    display: inline-block;
  }
  .bg-col,
  .third-col,
  .twothird-col {
    flex: 0 0 100&;
    max-width: 100%;
  }
  .bw-col-4,
  .bw-col-8 {
    max-width: 100%;
  }
  .bw-row {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
