.current-page {
  color: white;
  background-color: var(--color-main-darkpurple);
}
.main-nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  margin: 20px 5px 10px 5px;
  background-color: transparent;
  border: solid 2px var(--color-main-darkpurple);
  border-radius: 40px;
}
.nav-menu {
  background-color: white;
}

.logo-text {
  color: var(--color-main-darkpurple);
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  font-weight: 350;
}

.logo-text.header {
  margin-top: 20px;
  margin-bottom: 15px;
}

.logo-text.footer {
  color: white;
  margin-top: 8px;
}

.semibold {
  font-weight: 600;
}

/* .social-icons-footer {
    display: inline-block;
    float: right;
} */

.w-nav {
  position: relative;
  z-index: 1000;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
}

.w-nav-menu {
  position: relative;
  float: right;
}
[data-nav-menu-open] {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #c8c8c8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}
.w--nav-link-open {
  display: block;
  position: relative;
}
.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
  }
  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none;
  }
  .w-nav[data-collapse="small"] .w-nav-button {
    display: block;
  }
  .w-nav-brand {
    padding-left: 10px;
  }
}
@media screen and (max-width: 479px) {
  .w-nav[data-collapse="tiny"] .w-nav-menu {
    display: none;
  }
  .w-nav[data-collapse="tiny"] .w-nav-button {
    display: block;
  }
}
