.social-color-facebook {background-color: #4862a3}

.social-color-twitter {background-color: #55acee}

.social-color-website {background-color: #000000}

.social-color-youtube {background-color: #cc1e1f}

.social-color-linkedin {background-color: #0077b5}

.social-color-instagram {background-color: #d8226b}

.social-color-donate {background-color: #fabb0f}

.social-icons-list {
    display: flex;
    margin: 0 -8px;
    line-height: 2rem;
  }
  
  .social-icons-list li {
    flex: 1;
    margin: 0 8px;
    
  }
  
  .social-icons-list li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
  }
  
  .social-icons-list li a:hover {
    opacity: .75;
  }

  .min-list {
    padding: 0;
    margin: 0;
  }
  
  .min-list li {
    list-style: none;
  }
  
  .taxonomy_heading {
      color: var(--color-main-lime);
  }