.social-color-facebook {background-color: #4862a3}

.social-color-twitter {background-color: #55acee}

.social-color-website {background-color: #000000}

.social-color-youtube {background-color: #cc1e1f}

.social-color-linkedin {background-color: #0077b5}

.social-color-instagram {background-color: #d8226b}

.social-color-donate {background-color: #fabb0f}

.social-icons-list {
    display: flex;
    flex-wrap: wrap;
  }
  
.social-icons-list li {
  margin: 5px 5px 5px 5px;  
}
  
.social-icons-list li a {
  display: inline-block;
  padding: 1.5rem;
  border-radius: 4rem;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 2rem;
}

.social-icons-list li a:hover {
  opacity: .75;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

.taxonomy_heading {
    color: var(--color-main-lime);
}

.restaurant_list a, 
.restaurant_list li
{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--color-main-lime);
}

.restaurant_state
{
  color: var(--color-main-violet);
  text-decoration: none;
  list-style: none;
}
.restaurant_list:hover,
.restaurant_state:hover
{
  color: var(--color-main-orange);
}
.breadcrumb-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin-bottom: 10px;
}
.breadcrumb {
  background-color: var(--color-main-green);
  border-radius: 1.5rem;
  padding: 8px;
  margin: 2px 0 2px 0;
  text-decoration: none;
  font-size: 1rem;;
  line-height: 1.5rem;
  color: var(--color-main-darkpurple);
  transition: all 0.4s ease-in-out;
  &--state {
    background-color: #76A797; 
  }
  &--city {
    background-color: #8FB7AA; 
  }
  &--title {
    background-color: var(--color-main-orange);  
  }
}

.breadcrumb:hover {
  background-color: gray;
}
.breadcrumb--title:hover {
  background-color: var(--color-main-orange); 
}
