.social-color-facebook {background-color: #4862a3}

.social-color-twitter {background-color: #55acee}

.social-color-website {background-color: #000000}

.social-color-youtube {background-color: #cc1e1f}

.social-color-linkedin {background-color: #0077b5}

.social-color-instagram {background-color: #d8226b}

.social-color-donate {background-color: #fabb0f}

.social-icons-list {
    display: flex;
    flex-wrap: wrap;
  }
  
.social-icons-list li {
  margin: 5px 5px 5px 5px;  
}
  
.social-icons-list li a {
  display: inline-block;
  padding: 1.25rem;
  border-radius: 4rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.social-icons-list img {
  height: 2rem;
}

.social-icons-list li a:hover {
  opacity: .75;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

.taxonomy_heading {
    color: var(--color-main-lime);
}

.restaurant_list a, 
.restaurant_list li
{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--color-main-lime);
}

.restaurant_state
{
  color: var(--color-main-violet);
  text-decoration: none;
}
.restaurant_list:hover,
.restaurant_state:hover
{
  color: var(--color-main-orange);
}
.breadcrumb-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin-bottom: 10px;
}
.breadcrumb {
  background-color: var(--color-main-green);
  border-radius: 1.5rem;
  padding: 8px;
  margin: 2px 0 2px 0;
  text-decoration: none;
  font-size: 1rem;;
  line-height: 1.5rem;
  color: var(--color-main-darkpurple);
  transition: all 0.4s ease-in-out;
  &--state {
    background-color: #76A797; 
  }
  &--city {
    background-color: #8FB7AA; 
  }
  &--title {
    background-color: var(--color-main-orange);  
  }
}

.breadcrumb:hover {
  background-color: gray;
}
.breadcrumb--title:hover {
  background-color: var(--color-main-orange); 
}
.restaurant-flex-parent{
  margin: 0 10px 20px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.restaurant-flex-child{
  flex-basis: 24%;
  padding: 0 4px 0 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 15px;
  margin: 3px;
}
.restaurant-flex-child h2{
  margin-top: 8px;
}
.restaurant-flex-child:hover {
  box-shadow: 0 6px 14px 0 rgba(0,0,0,0.2);
}
@media (max-width: 767px) {
  .restaurant-flex-child {
      flex-basis: 48%;
  }
  .restaurant_state{
    font-size: 26px;
    line-height: 28px;
    margin-top: 0px;
  }
  .restaurant_list h3{
    font-size: 22px;
    line-height: 24px;
    margin-top: 0px;
  }
  .restaurant_list h4{
    font-size: 18px;
    line-height: 20px;
    margin-top: 0px;
  }
}  
@media (max-width: 479px) {
  .restaurant-flex-parent{
    display: inline-block;
  }
  .restaurant-flex-child{
    display: inline-block;
  }
}